---
import Chat from '@/components/Chat'
import { Score } from '@/components/Score'
import { getLeagueMatchById } from '@/controllers'
import Layout from '@/layouts/Layout.astro'
import { fetchAstroAPI } from '@/utils'

const { id } = Astro.params

const { data } = await getLeagueMatchById(id)

const match = data

let player1 = null
let player2 = null

if (match) {
  const { data } = await fetchAstroAPI({
    method: 'POST',
    endpoint: '/users',
    body: {
      ids: [match.player1, match.player2],
    },
  })

  player1 = data.users.find((user: any) => user.uid === match.player1)
  player2 = data.users.find((user: any) => user.uid === match.player2)
}
---

<Layout>
  <div class="container mx-auto flex">
    <div class="w-1/2">
      <h1 class="text-2xl font-bold">
        {player1?.displayName} vs {player2?.displayName}
      </h1>

      {
        !match.winner && (
          <div>
            <p>Match is not finished yet</p>
            <Score matchId={id} client:load />
          </div>
        )
      }
      {
        match.winner && (
          <>
            <p>{match.score}</p>
          </>
        )
      }
    </div>

    <div class="w-1/2">
      <Chat client:load />
    </div>
  </div>
</Layout>
