---
import { CalendarForm } from '@/components/CalendarForm'
import { Chat } from '@/components/Chat'
import { Score } from '@/components/Score'
import { getLeagueMatchById } from '@/controllers'
import Layout from '@/layouts/Layout.astro'
import type { LeagueMatch, User } from '@/types'

const { id } = Astro.params

let match: LeagueMatch | null = null

let from = null
let to = null

let player1: User | null = null
let player2: User | null = null

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value

  if (sessionCookie) {
    try {
      const { data } = await getLeagueMatchById({ id, token: sessionCookie })

      player1 = data?.player1
      player2 = data?.player2

      match = data
    } catch (error) {
      console.log(error)
    }
  }
  to = match?.player1._id === from ? match?.player2._id : match?.player1._id
  from = match?.player1._id === from ? match?.player1._id : match?.player2._id
}
---

<Layout>
  <div>
    <div class="container mx-auto flex">
      <div class="w-1/2">
        <h1 class="text-2xl font-bold">
          {player1 && player1?.name} vs {player2 && player2?.name}
        </h1>

        {
          match && !match.winner && (
            <div>
              <p>Match is not finished yet</p>
              <Score matchId={id} client:load />
            </div>
          )
        }
        {
          match && match.winner && (
            <>
              <p>{match.score}</p>
            </>
          )
        }
        <div class="my-5">
          <CalendarForm client:load />
        </div>
      </div>

      <div class="w-1/2">
        {from && to && <Chat from={from} to={to} client:load />}
      </div>
    </div>
  </div>
</Layout>
