---
import { LoginFormContainer } from '@/components/LoginFormContainer'
import { SignoutButton } from '@/components/SignoutButton'
import Layout from '@/layouts/Layout.astro'
import { auth } from '@/lib/firebase/server'
import { fetchAPI, fetchAstroAPI } from '@/utils'

let showLogin = true
let league = null
let players = []
let profileUser = null

if (Astro.cookies.has('__session')) {
  const sessionCookie = Astro.cookies.get('__session')?.value

  if (!sessionCookie) {
    showLogin = true
    return
  }

  const decodedCookie = await auth.verifySessionCookie(sessionCookie)
  if (decodedCookie) {
    showLogin = false
  }

  const query = `
    query {
      checkPlayerInLeague(playerId: "${decodedCookie.uid}") {
        _id
        name
        startedAt
        players
        currentSeason {
          _id
          startedAt
          matches {
            _id
            player1
            player2
            winner
            score
          }
        }
      }
    }
  `

  const { checkPlayerInLeague } = await fetchAPI(query)
  league = checkPlayerInLeague

  if (league.players) {
    const { data } = await fetchAstroAPI({
      method: 'POST',
      endpoint: '/users',
      body: {
        ids: league.players,
      },
    })

    players = data.users
  }
}
---

<Layout title="Login">
  <img
    class="w-32 h-32 rounded-full mx-auto"
    src="/images/placeholder.jpg"
    alt="Profile Picture"
    transition:name="profile-img"
  />
  <section class="w-full flex justify-center my-3">
    {
      showLogin ? (
        <LoginFormContainer client:load />
      ) : (
        <SignoutButton client:load />
      )
    }
  </section>
  {
    league && (
      <section class="w-full flex flex-col justify-center my-3">
        <p class="text-center">{league.name}</p>

        <article>
          <h2>Matches</h2>
          <ul>
            {league.currentSeason.matches.map((match: any) => (
              <li>
                {
                  players.find((player: any) => player.uid === match.player1)
                    .displayName
                }
                vs
                {
                  players.find((player: any) => player.uid === match.player2)
                    .displayName
                }
              </li>
            ))}
          </ul>
        </article>
      </section>
    )
  }
</Layout>
