---
import Layout from '@/layouts/Layout.astro'
import { DataTable } from '@/components/DataTable'
import type { ColumnDef } from '@tanstack/react-table'
import type { TrafficCrash } from '@/constants/types'

const columns: ColumnDef<TrafficCrash>[] = [
  {
    accessorKey: 'CRASH_RECORD_ID',
    header: 'ID',
  },
  {
    accessorKey: 'POSTED_SPEED_LIMIT',
    header: 'Speed Limit',
  },
  {
    accessorKey: 'LOCATION',
    header: 'Location',
  },
  {
    accessorKey: 'CRASH_DATE',
    header: 'Date',
  },
  {
    accessorKey: 'WEATHER_CONDITION',
    header: 'Weather',
  },
]

async function getData(): Promise<TrafficCrash[]> {
  try {
    const response = await fetch('http://localhost:3000', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        query: `
          query GetCrashes {
              getCrashes(limit: 10) {
                  CRASH_RECORD_ID
                  CRASH_DATE
                  WEATHER_CONDITION
                  LOCATION
                  POSTED_SPEED_LIMIT
              }
          }
        `,
      }),
    })
    const { data } = await response.json()
    return data.getCrashes
  } catch (error) {
    console.error(error)
  }
  return []
}

const data = await getData()
---

<Layout title="Astro">
  <div class="container mx-auto py-10">
    <DataTable columns={columns} data={data} />
  </div>
</Layout>
