---
import { HeroHighlight } from '@/components/ui/hero-highlight'
import Layout from '../layouts/Layout.astro'
import { Button } from '@/components/ui/button'
import type { loadApp } from 'astro/app/node'
import { Image } from 'astro:assets'
import { toast } from 'sonner'
import { motion } from 'framer-motion'
import { Highlight } from '@/components/ui/hero-highlight'

const handleClick = () => {
  toast('Hello from Astro!')
}
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="flex items-center min-h-[calc(100vh-56px)]">
      <motion.h1
        client:visible
        initial={{
          opacity: 0,
          y: 20,
        }}
        animate={{
          opacity: 1,
          y: [20, -5, 0],
        }}
        transition={{
          duration: 0.5,
          ease: [0.4, 0.0, 0.2, 1],
        }}
        className="text-2xl px-4 md:text-4xl lg:text-5xl font-bold text-neutral-700 dark:text-white max-w-4xl leading-relaxed lg:leading-snug text-center mx-auto "
      >
        With insomnia, nothing&apos;s real. Everything is far away. Everything
        is a{' '}
        <Highlight client:visible className="text-black dark:text-white">
          copy, of a copy, of a copy.
        </Highlight>
      </motion.h1>
    </section>
    <section>
      <h1>HOLA</h1>
      <Image
        transition:name="profile"
        src="/src/assets/images/profile.jpg"
        alt="Random image"
        width="200"
        height="200"
      />
      <Button client:visible id="button">CLICK</Button>
    </section>
  </main>
</Layout>

<script>
  import { toast } from 'sonner'

  const button = document.getElementById('button')

  if (!button) {
    throw new Error('Button not found')
  }

  button.addEventListener('click', () => {
    toast('Hello from Astro!')
  })
</script>
