---
import Layout from '../layouts/Layout.astro'
import { Button } from '@/components/ui/button'
import type { loadApp } from 'astro/app/node'
import { Image } from 'astro:assets'
import { toast } from 'sonner'

const handleClick = () => {
  toast('Hello from Astro!')
}
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>HOLA</h1>

    <Button client:load id="button">CLICK</Button>

    <Image
      transition:name="profile"
      src="/src/assets/images/profile.jpg"
      alt="Random image"
      width="200"
      height="200"
    />
  </main>
</Layout>

<script>
  import { toast } from 'sonner'

  const button = document.getElementById('button')

  if (!button) {
    throw new Error('Button not found')
  }

  button.addEventListener('click', () => {
    toast('Hello from Astro!')
  })
</script>
