---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>HOLA</h1>

    <a href="/settings">
      <Button>CLICK</Button>
    </a>

    <Image
      transition:name="profile"
      src="/src/assets/images/profile.jpg"
      alt="Random image"
      width="200"
      height="200"
    />
  </main>
</Layout>
