---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Settings">
  <main>
    <h1>HOLA</h1>
    <Image
      transition:name="profile"
      src="/public/images/profile.jpg"
      alt="Random image"
      width="200"
      height="200"
    />
  </main>
</Layout>
